<section class="row sub">
    <div class="twentyfour columns">
        <span class="title noback">Choose a brand ...</span>
    </div>
</section>
<section class="row main" id="brands">
    <div class="twentyfour columns bigpadding">
        <div class="brand-disclaimer">BR-Performance has no particular
            commercial relationship with these brands, therefore logos are for
            information only.</div>
 
        <!--
       
        <a href="chiptuning/1-cars/9-alfa-romeo/" class="merk"
            ng-repeat="brand in brands"><img src="../original/3.png"
            data-at2x="../original/3@2x.png" width="50" height="50"
            alt="Alfa Romeo" class="social" original-title="Alfa Romeo"></a>
 -->
        <a ng-click="findModels('Alfa Romeo')" class="merk"><img
            src="../original/3.png" data-at2x="../original/3@2x.png" width="50"
            height="50" alt="Alfa Romeo" class="social"
            style="margin-left: -25px; margin-top: -25px"
            original-title="Alfa Romeo"></a> <a
            href="chiptuning/1-cars/10-alpina/" class="merk"><img
            src="../original/4.png" data-at2x="../original/4@2x.png" width="50"
            height="50" alt="Alpina" class="social" title="Alpina"
            style="margin-left: -25px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/8302-alpine/" class="merk"><img
            src="../picture/13577.png" data-at2x="../picture/13577@2x.png"
            width="50" height="50" alt="Alpine" class="social" title="Alpine"
            style="margin-left: -25px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/5790-aston-martin/" class="merk"><img
            src="../original/7007.png" data-at2x="../original/7007@2x.png"
            width="80" height="50" alt="Aston Martin" class="social"
            title="Aston Martin" style="margin-left: -40px; margin-top: -25px"></a>
        <a ng-click="findModels('Audi')" class="merk"><img
            src="../picture/5.png" data-at2x="../picture/5@2x.png" width="122"
            height="80" alt="Audi" class="social"
            style="margin-left: -61px; margin-top: -40px" original-title="Audi"></a>
        <a href="chiptuning/1-cars/12-bentley/" class="merk"><img
            src="../original/6.png" data-at2x="../original/6@2x.png" width="80"
            height="50" alt="Bentley" class="social" title="Bentley"
            style="margin-left: -40px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/5-bmw/" class="merk"><img
            src="../picture/7.png" data-at2x="../picture/7@2x.png" width="122"
            height="80" alt="BMW" class="social"
            style="margin-left: -61px; margin-top: -40px" original-title="BMW"></a>
        <a href="chiptuning/1-cars/8124-buick/" class="merk"><img
            src="../original/12944.png" data-at2x="../original/12944@2x.png"
            width="50" height="50" alt="Buick" class="social" title="Buick"
            style="margin-left: -25px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/13-bugatti/" class="merk"><img
            src="../original/8.png" data-at2x="../original/8@2x.png" width="80"
            height="50" alt="Bugatti" class="social" title="Bugatti"
            style="margin-left: -40px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/14-cadillac/" class="merk"><img
            src="../original/9.png" data-at2x="../original/9@2x.png" width="50"
            height="50" alt="Cadillac" class="social" title="Cadillac"
            style="margin-left: -25px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/15-chevrolet/" class="merk"><img
            src="../original/10.png" data-at2x="../original/10@2x.png" width="80"
            height="50" alt="Chevrolet" class="social" title="Chevrolet"
            style="margin-left: -40px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/16-chrysler/" class="merk"><img
            src="../original/11.png" data-at2x="../original/11@2x.png" width="80"
            height="50" alt="Chrysler" class="social" title="Chrysler"
            style="margin-left: -40px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/17-citroen/" class="merk"><img
            src="../original/12.png" data-at2x="../original/12@2x.png" width="56"
            height="50" alt="Citroën" class="social" title="Citroën"
            style="margin-left: -28px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/18-dacia/" class="merk"><img
            src="../original/13.png" data-at2x="../original/13@2x.png" width="57"
            height="50" alt="Dacia" class="social" title="Dacia"
            style="margin-left: -29px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/19-daewoo/" class="merk"><img
            src="../original/14.png" data-at2x="../original/14@2x.png" width="67"
            height="50" alt="Daewoo" class="social" title="Daewoo"
            style="margin-left: -34px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/20-dodge/" class="merk"><img
            src="../original/15.png" data-at2x="../original/15@2x.png" width="47"
            height="50" alt="Dodge" class="social" title="Dodge"
            style="margin-left: -24px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/7098-ds/" class="merk"><img
            src="../original/10089.png" data-at2x="../original/10089@2x.png"
            width="41" height="50" alt="DS" class="social"
            style="margin-left: -21px; margin-top: -25px" original-title="DS"></a>
        <a href="chiptuning/1-cars/21-ferrari/" class="merk"><img
            src="../original/16.png" data-at2x="../original/16@2x.png" width="31"
            height="50" alt="Ferrari" class="social" title="Ferrari"
            style="margin-left: -16px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/22-fiat/" class="merk"><img
            src="../original/17.png" data-at2x="../original/17@2x.png" width="50"
            height="50" alt="Fiat" class="social"
            style="margin-left: -25px; margin-top: -25px" original-title="Fiat"></a>
        <a href="chiptuning/1-cars/23-ford/" class="merk"><img
            src="../picture/18.png" data-at2x="../picture/18@2x.png" width="122"
            height="80" alt="Ford" class="social" title="Ford"
            style="margin-left: -61px; margin-top: -40px"></a> <a
            href="chiptuning/1-cars/6359-gwm/" class="merk"><img
            src="../original/8973.png" data-at2x="../original/8973@2x.png"
            width="74" height="50" alt="GWM" class="social"
            style="margin-left: -37px; margin-top: -25px" original-title="GWM"></a>
        <a href="chiptuning/1-cars/9103-holden/" class="merk"><img
            src="../original/holden.png" data-at2x="../original/holden@2x.png"
            width="50" height="50" alt="Holden" class="social" title="Holden"
            style="margin-left: -25px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/24-honda/" class="merk"><img
            src="../original/19.png" data-at2x="../original/19@2x.png" width="62"
            height="50" alt="Honda" class="social" title="Honda"
            style="margin-left: -31px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/25-hyundai/" class="merk"><img
            src="../original/20.png" data-at2x="../original/20@2x.png" width="80"
            height="50" alt="Hyundai" class="social" title="Hyundai"
            style="margin-left: -40px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/26-infiniti/" class="merk"><img
            src="../original/21.png" data-at2x="../original/21@2x.png" width="80"
            height="50" alt="Infiniti" class="social" title="Infiniti"
            style="margin-left: -40px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/3750-isuzu/" class="merk"><img
            src="../original/1144.png" data-at2x="../original/1144@2x.png"
            width="80" height="50" alt="Isuzu" class="social"
            style="margin-left: -40px; margin-top: -25px" original-title="Isuzu"></a>
        <a href="chiptuning/1-cars/3938-iveco/" class="merk"><img
            src="../original/1941.png" data-at2x="../original/1941@2x.png"
            width="80" height="50" alt="Iveco" class="social" title="Iveco"
            style="margin-left: -40px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/27-jaguar/" class="merk"><img
            src="../original/22.png" data-at2x="../original/22@2x.png" width="80"
            height="50" alt="Jaguar" class="social" title="Jaguar"
            style="margin-left: -40px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/28-jeep/" class="merk"><img
            src="../original/23.png" data-at2x="../original/23@2x.png" width="80"
            height="40" alt="Jeep" class="social" title="Jeep"
            style="margin-left: -40px; margin-top: -20px"></a> <a
            href="chiptuning/1-cars/29-kia/" class="merk"><img
            src="../original/24.png" data-at2x="../original/24@2x.png" width="80"
            height="50" alt="Kia" class="social" title="Kia"
            style="margin-left: -40px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/30-ktm/" class="merk"><img
            src="../original/25.png" data-at2x="../original/25@2x.png" width="80"
            height="50" alt="KTM" class="social" title="KTM"
            style="margin-left: -40px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/31-lamborghini/" class="merk"><img
            src="../original/26.png" data-at2x="../original/26@2x.png" width="50"
            height="50" alt="Lamborghini" class="social" title="Lamborghini"
            style="margin-left: -25px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/32-lancia/" class="merk"><img
            src="../original/27.png" data-at2x="../original/27@2x.png" width="50"
            height="50" alt="Lancia" class="social" title="Lancia"
            style="margin-left: -25px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/33-landrover/" class="merk"><img
            src="../original/28.png" data-at2x="../original/28@2x.png" width="80"
            height="50" alt="Landrover" class="social" title="Landrover"
            style="margin-left: -40px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/6806-lexus/" class="merk"><img
            src="../original/9834.png" data-at2x="../original/9834@2x.png"
            width="69" height="50" alt="Lexus" class="social" title="Lexus"
            style="margin-left: -35px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/34-lotus/" class="merk"><img
            src="../original/29.png" data-at2x="../original/29@2x.png" width="50"
            height="50" alt="Lotus" class="social"
            style="margin-left: -25px; margin-top: -25px" original-title="Lotus"></a>
        <a href="chiptuning/1-cars/7374-mahindra/" class="merk"><img
            src="../original/10937.png" data-at2x="../original/10937@2x.png"
            width="80" height="50" alt="Mahindra" class="social" title="Mahindra"
            style="margin-left: -40px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/9690-man/" class="merk"><img
            src="../original/man.png" data-at2x="../original/man@2x.png"
            width="80" height="50" alt="MAN" class="social" title="MAN"
            style="margin-left: -40px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/35-maserati/" class="merk"><img
            src="../original/30.png" data-at2x="../original/30@2x.png" width="50"
            height="50" alt="Maserati" class="social" title="Maserati"
            style="margin-left: -25px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/36-mazda/" class="merk"><img
            src="../original/31.png" data-at2x="../original/31@2x.png" width="63"
            height="50" alt="Mazda" class="social" title="Mazda"
            style="margin-left: -32px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/3913-mclaren/" class="merk"><img
            src="../original/1712.png" data-at2x="../original/1712@2x.png"
            width="80" height="50" alt="McLaren" class="social" title="McLaren"
            style="margin-left: -40px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/37-mercedes/" class="merk"><img
            src="../picture/32.png" data-at2x="../picture/32@2x.png" width="122"
            height="80" alt="Mercedes" class="social" title="Mercedes"
            style="margin-left: -61px; margin-top: -40px"></a> <a
            href="chiptuning/1-cars/39-mini/" class="merk"><img
            src="../original/34.png" data-at2x="../original/34@2x.png" width="80"
            height="50" alt="Mini" class="social" title="Mini"
            style="margin-left: -40px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/40-mitsubishi/" class="merk"><img
            src="../original/35.png" data-at2x="../original/35@2x.png" width="57"
            height="50" alt="Mitsubishi" class="social" title="Mitsubishi"
            style="margin-left: -29px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/41-nissan/" class="merk"><img
            src="../original/36.png" data-at2x="../original/36@2x.png" width="59"
            height="50" alt="Nissan" class="social" title="Nissan"
            style="margin-left: -30px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/42-opel/" class="merk"><img
            src="../original/37.png" data-at2x="../original/37@2x.png" width="64"
            height="50" alt="Opel" class="social" title="Opel"
            style="margin-left: -32px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/4118-pagani/" class="merk"><img
            src="../original/2852.png" data-at2x="../original/2852@2x.png"
            width="80" height="50" alt="Pagani" class="social" title="Pagani"
            style="margin-left: -40px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/43-peugeot/" class="merk"><img
            src="../original/38.png" data-at2x="../original/38@2x.png" width="48"
            height="50" alt="Peugeot" class="social" title="Peugeot"
            style="margin-left: -24px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/5763-pgo/" class="merk"><img
            src="../original/6833.png" data-at2x="../original/6833@2x.png"
            width="50" height="50" alt="PGO" class="social" title="PGO"
            style="margin-left: -25px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/6682-piaggio/" class="merk"><img
            src="../original/4967.png" data-at2x="../original/4967@2x.png"
            width="44" height="50" alt="Piaggio" class="social" title="Piaggio"
            style="margin-left: -22px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/44-porsche/" class="merk"><img
            src="../original/39.png" data-at2x="../original/39@2x.png" width="50"
            height="50" alt="Porsche" class="social" title="Porsche"
            style="margin-left: -25px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/45-renault/" class="merk"><img
            src="../picture/40.png" data-at2x="../picture/40@2x.png" width="122"
            height="80" alt="Renault" class="social" title="Renault"
            style="margin-left: -61px; margin-top: -40px"></a> <a
            href="chiptuning/1-cars/46-rolls-royce/" class="merk"><img
            src="../original/41.png" data-at2x="../original/41@2x.png" width="50"
            height="50" alt="Rolls Royce" class="social" title="Rolls Royce"
            style="margin-left: -25px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/47-saab/" class="merk"><img
            src="../original/42.png" data-at2x="../original/42@2x.png" width="50"
            height="50" alt="Saab" class="social" title="Saab"
            style="margin-left: -25px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/9504-samsung/" class="merk"><img
            src="../picture/samsung-renault.png"
            data-at2x="../picture/samsung-renault@2x.png" width="80" height="50"
            alt="Samsung" class="social" title="Samsung"
            style="margin-left: -40px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/5951-scion/" class="merk"><img
            src="../picture/7456.png" data-at2x="../picture/7456@2x.png"
            width="80" height="50" alt="Scion" class="social" title="Scion"
            style="margin-left: -40px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/48-seat/" class="merk"><img
            src="../original/43.png" data-at2x="../original/43@2x.png" width="57"
            height="50" alt="Seat" class="social" title="Seat"
            style="margin-left: -29px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/49-skoda/" class="merk"><img
            src="../original/44.png" data-at2x="../original/44@2x.png" width="50"
            height="50" alt="Skoda" class="social" title="Skoda"
            style="margin-left: -25px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/50-smart/" class="merk"><img
            src="../original/45.png" data-at2x="../original/45@2x.png" width="53"
            height="50" alt="Smart" class="social" title="Smart"
            style="margin-left: -27px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/3722-ssangyong/" class="merk"><img
            src="../original/1034.png" data-at2x="../original/1034@2x.png"
            width="80" height="50" alt="SsangYong" class="social"
            title="SsangYong" style="margin-left: -40px; margin-top: -25px"></a>
        <a href="chiptuning/1-cars/51-subaru/" class="merk"><img
            src="../original/46.png" data-at2x="../original/46@2x.png" width="80"
            height="50" alt="Subaru" class="social" title="Subaru"
            style="margin-left: -40px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/52-suzuki/" class="merk"><img
            src="../original/47.png" data-at2x="../original/47@2x.png" width="50"
            height="50" alt="Suzuki" class="social" title="Suzuki"
            style="margin-left: -25px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/3723-tata/" class="merk"><img
            src="../original/1035.png" data-at2x="../original/1035@2x.png"
            width="75" height="50" alt="Tata" class="social" title="Tata"
            style="margin-left: -38px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/53-toyota/" class="merk"><img
            src="../original/48.png" data-at2x="../original/48@2x.png" width="80"
            height="50" alt="Toyota" class="social" title="Toyota"
            style="margin-left: -40px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/54-volkswagen/" class="merk"><img
            src="../picture/50.png" data-at2x="../picture/50@2x.png" width="122"
            height="80" alt="Volkswagen" class="social" title="Volkswagen"
            style="margin-left: -61px; margin-top: -40px"></a> <a
            href="chiptuning/1-cars/55-volvo/" class="merk"><img
            src="../original/49.png" data-at2x="../original/49@2x.png" width="50"
            height="50" alt="Volvo" class="social" title="Volvo"
            style="margin-left: -25px; margin-top: -25px"></a> <a
            href="chiptuning/1-cars/5319-westfield/" class="merk"><img
            src="../original/5091.png" data-at2x="../original/5091@2x.png"
            width="50" height="50" alt="Westfield" class="social"
            title="Westfield" style="margin-left: -25px; margin-top: -25px"></a>
        <a href="chiptuning/1-cars/56-wiesmann/" class="merk"><img
            src="../original/51.png" data-at2x="../original/51@2x.png" width="41"
            height="50" alt="Wiesmann" class="social" title="Wiesmann"
            style="margin-left: -21px; margin-top: -25px"></a>
        <div class="doClear"></div>
        <p>
            <span>To serve you better we have split up the possible
                upgrades into different stages, check out which stages are available
                for your car. Below is a brief description of what the stages
                generally include:</span>
        </p>
        <ul class="block-grid one-up mobile-one-up articles stages">
            <li>
                <article>
                    <header>
                        <h2>Stage 1</h2>
                        <h3>Reprogrammation</h3>
                    </header>
                    <div class="content">
                        <p>
                            <span>Stage 1 consists of an individual reprogramming of
                                the engine management system of the vehicle, whereby the
                                adjustment of the engine parameters (ignition, injection, ...)
                                is customly done on the dyno. All values of the motor parameters
                                at this stage remain within the safety standards prescribed by
                                the manufacturer. This stage 1 is 100% reliable, in short, more
                                driving pleasure without worries!</span>
                        </p>
                    </div>
                </article>
            </li>
            <li>
                <article>
                    <header>
                        <h2>Stage 2</h2>
                        <h3>Reprogrammation and optimization intake and exhaust</h3>
                    </header>
                    <div class="content">
                        <p>
                            <span>For those who want a little more than stage 1, we
                                have a stage 2 which consists of optimising a number of elements
                                around the engine to increase the efficiency of the engine.
                                Primarily this is about intake and exhaust. A lot of air-intake
                                systems are very restrictive because of their anti-resonant
                                structure which is intended to damp the intake noise of the
                                engine. By mounting a sports air filter or custom air intake,
                                more airflow to the engine is allowed and we get a nice power
                                gain. As we reach the safety standards of the manufacturer at
                                stage 2, sometimes parts must be strengthened e.g. clutch. Each
                                stage is indicated which parts are replaced.</span>
                        </p>
                    </div>
                </article>
            </li>
            <li>
                <article>
                    <header>
                        <h2>Stage 3</h2>
                        <h3>New motor parts</h3>
                    </header>
                    <div class="content">
                        <p>
                            <span>At stage 3 we go a step further, we are going to
                                replace the internal or vital parts of the engine or
                                turbocharger, this can go from increasing the cylinder capacity,
                                placing sport camshafts, to the installation of a larger
                                turbocharger. Sometimes there are some inherent risks to
                                reliability, but not always. Manufacturers often build 1 basic
                                engine block and by using a larger turbo and injectors they can
                                build 2 capital versions. It goes without saying that in some
                                cases you can boost your engine with original parts of the
                                heavier version, without affecting the reliability because the
                                manufacturer already had been anticipated.</span>
                        </p>
                    </div>
                </article>
            </li>
            <li>
                <article>
                    <header>
                        <h2>ECO</h2>
                    </header>
                    <div class="content">
                        <p>ECO tuning is an individual reprogramming of the vehicle's
                            motor management system. The settings of the motor parameters
                            (ignition, injection ...) is tailor-made on the dyno. All values
                            that are programmed and adapted have one goal: reducing the fuel
                            consumption!</p>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>
 
<div ng-init="allBrands()">
    <table class="table table-bordered tableBG" border="1">
        <tbody>
            <tr ng-repeat="brand in brands">
                <td><a ng-click="findModels(brand.name)">{{brand.name}}</a></td>
            </tr>
        </tbody>
    </table>
</div>