<div ng-init="refresh()">

	<section class="row sub"
		style="width: 100%; margin-right: 0px; margin-left: 0px;">
		<div class="twentyfour columns">
			<div class="back">
				<a ng-click="returnToBrands()" class="button-full-rounded">brand
					&#220bersicht</a>
			</div>
			<span class="title">W&#228hlen Sie ein {{myText1}} ... </span>
		</div>
	</section>

	<section class="row main"
		style="width: 100%; margin-right: 0px; margin-left: 0px;">
		<div class="twentyfour columns bigpadding">
			<ul class="block-grid three-up mobile-one-up articles list">
				<li ng-class="clas1" id="b">
					<article>
						<header>
							<h2>{{brand}}</h2>
							<img ng-src="{{brandModel.logo}}" class="logo"
								style="max-height: 50px; max-width: 80px;">
						</header>
						<ul class="content" ng-repeat="m in models" ng-class="{'last':$last}">
							<li><a ng-click="findBuildYears(m)">{{m}}</a></li>
						</ul>
					</article>
				</li>
				<ui-view></ui-view>
			</ul>
		</div>


	</section>
</div>
