<div ng-init="refresh()">

	<section class="row sub" style="width: 100%">
		<div class="twentyfour columns">
			<div class="back">
				<a href="#/home/brands" class="button-full-rounded">brand
					Übersicht</a>
			</div>
			<span class="title">Wählen Sie ein {{myText1}} ... </span>
		</div>
	</section>

	<section class="row main" style="width: 100%">
		<div class="twentyfour columns bigpadding">
			<ul class="block-grid three-up mobile-one-up articles list">
				<li>
					<article>
						<header>
							<h2>{{brand}}</h2>
							{{brand.logo}} <img ng-src={{brand.logo}} width="50" height="50"
								class="logo">
						</header>
						<ul class="content" ng-repeat="m in models">
							<li><a ng-click="findBuildYears(m)">{{m}}</a></li>
						</ul>
					</article>
				</li>
				<ui-view></ui-view>
			</ul>
		</div>


	</section>
</div>
