<div ng-init="refresh()">
	<li ng-class="clas3" id="mtypes" ><article>

			<div ng-if="motorTypes1.length">
				<header class="small">
					<img src="{{brandModel.logo}}"
						style="max-height: 50px; max-width: 80px;"
						class="logo hide-for-medium-down">
					<h2>{{yearr}}</h2>
					<h3>Benzin</h3>
				</header>
				<ul class="content en" ng-repeat="mt1 in motorTypes1"
					ng-class="{'last':$last}">
					<li><a ng-click="allInformations(mt1)">{{mt1[0]}}</a><a
						ng-click="allInformations(mt1)" style="float:right"><span> {{mt1[2]}} </span></a></li>
				</ul>
			</div>
			<div ng-if="motorTypes2.length">
				<header class="small">
					<img src="{{brandModel.logo}}"
						style="max-height: 50px; max-width: 80px;"
						class="logo hide-for-medium-down">
					<h2>{{yearr}}</h2>
					<h3>Diesel</h3>
				</header>
				<ul class="content en" ng-repeat="mt2 in motorTypes2"
					ng-class="{'last':$last}">
					<li><a ng-click="allInformations(mt2)">{{mt2[0]}}</a><a
						ng-click="allInformations(mt2)" style="float:right"><span>{{mt2[2]}}</span></a></li>
				</ul>
			</div>
			<div ng-if="motorTypes3.length">
				<header class="small">
					<img src="{{brandModel.logo}}"
						style="max-height: 50px; max-width: 80px;"
						class="logo hide-for-medium-down">
					<h2>{{yearr}}</h2>
					<h3>Hybride</h3>
				</header>
				<ul class="content en" ng-repeat="mt3 in motorTypes3"
					ng-class="{'last':$last}">
					<li><a ng-click="allInformations(mt3)">{{mt3[0]}}</a><a ng-click="allInformations(mt3)" style="float:right"><span>{{mt3[2]}}</span></a></li>
				</ul>
			</div>
		</article></li>
</div>
