<li style="margin-left: 66.66%;"><article>
		<header class="small">
			<img src="../db/pictures/original/5.png" width="80" height="50"
			 class="logo hide-for-medium-down">
			<h2>{{yearr}}</h2>
			<h3>Gasoline</h3>
		</header>
		<ul class="content en"  ng-repeat="mt1 in motorTypes1">
			<li><a ng-click="allInformations(mt1)">{{mt1[0]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{mt1[2]}} </a></li>
		</ul>
		<header class="small">
			<img src="../db/pictures/original/5.png" width="80" height="50"
				 class="logo hide-for-medium-down">
			<h2>{{yearr}}</h2>
			<h3>Diesel</h3>
		</header>
		<ul class="content en"  ng-repeat="mt2 in motorTypes2">
			<li><a ng-click="allInformations(mt2)">{{mt2[0]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{mt2[2]}}</a></li>
		</ul>
	</article></li>

