<div ng-init="refresh()">
	<li style="margin-left: 66.66%;"><article>

			<div ng-if="motorTypes1.length">
				<header class="small">
					<img src="{{brandModel.logo}}" width="80" height="50"
						class="logo hide-for-medium-down">
					<h2>{{yearr}}</h2>
					<h3>Benzin</h3>
				</header>
				<ul class="content en" ng-repeat="mt1 in motorTypes1">
					<li><a ng-click="allInformations(mt1)">{{mt1[0]}}&nbsp;&nbsp;
							{{mt1[2]}} </a></li>
				</ul>
			</div>
			<div ng-if="motorTypes2.length">
				<header class="small">
					<img src="{{brandModel.logo}}" width="80" height="50"
						class="logo hide-for-medium-down">
					<h2>{{yearr}}</h2>
					<h3>Diesel</h3>
				</header>
				<ul class="content en" ng-repeat="mt2 in motorTypes2">
					<li><a ng-click="allInformations(mt2)">{{mt2[0]}}&nbsp;&nbsp;
							{{mt2[2]}}</a></li>
				</ul>
			</div>
		</article></li>
</div>
