.roller {
	display: inline-flex;
}

.btnsRight {
	float: right;
}

#rollingImg {
	margin-top: 10px;
	height: 100px;
	min-width: 100px;
}

section.box .title .label {
	text-transform: none;
}

.white {
	color: white;
}

marquee {
	vertical-align: middle;
}

.rollingText {
	font-size: 27px;
	line-height: inherit;
}

marquee {
	padding-top: 20px;
}

#buildYrs {
	float: left;
	width: 33.33%
}

#mtypes {
	margin-left: 66.66%;
}

.btnsRight {
	float: right;
	padding-right: 50px;
}

.graphImg {
	height: 100%;
	background-image: url('../images/chip.jpg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

section.sub .columns .title {
	margin-left: 0px;
}

.row.main {
	min-height: 300px;
}

@media screen and (max-width:830px) {
	.displej {
		display: none !important;
	}
	.hrefs {
		display: inline !important;
	}
	.graphImg {
		min-height: 200px;
	}
	.stage-data td.price {
		font-size: 20px;
	}
	#buildYrs {
		width: 100%;
		padding-left: 3%;
		padding-right: 3%;
	}
	.ne {
		display: none !important;
	}
	#mtypes {
		margin-left: 0%;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	#fahrzeuge {
		display: none !important;
	}
	.btnsRight {
		padding-right: unset;
	}
	.stage-data td.price.small {
		font-size: 20px;
	}
	#show {
		font-size: 10px !important;
	}
	.da {
		width: 100% !important;
	}
}

@media screen and (max-width:767px) {
	.btnsRight {
		float: none !important;
		padding-right: unset;
	}
}

@media screen and (min-width:767px) {
	section.sub .columns .title {
		margin-left: 0px !important;
	}
}

@media screen and (max-width: 600px) {
	#rollingImg {
		height: 80px !important;
		min-width: 80px !important;
	}
	.rollingText {
		font-size: 20px;
	}
}