@charset "utf-8";
/* CSS Document */


section.box {
	
}

section.box header.stages {
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	color: #fefefe;
	font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
	border: 1px solid rgba(255, 255, 255, 0.1);
	background: transparent url(../../../../../images/title_bar_bg.png)
		repeat-x center center;
}

section.box header.stages .stage {
	display: block;
	float: left;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-top: 0;
	border-bottom: 0;
}

section.box header.stages .stage:first-child {
	border-left: 0;
}

section.box header.stages a {
	display: block;
	height: 48px;
	padding-left: 33px;
	padding-right: 13px;
	line-height: 48px;
	font-size: 16px;
	color: #ccc;
	font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 0;
	border-bottom: 0;
	text-transform: capitalize;
	text-shadow: 1px 1px #000;
	background: transparent url(../../../../../images/title_bar_bg.png)
		repeat-x center center;
}

section.box header.stages a:hover {
	color: #fefefe;
}

section.box header.stages a.stage1 {
	background: transparent url(../../../../../images/bg_stage1.png)
		no-repeat 12px center;
}

section.box header.stages a.stage1:hover, section.box header.stages .sel a.stage1
	{
	background: transparent url(../../../../../images/bg_stage1_sel.png)
		no-repeat 12px center;
}

section.box header.stages a.stage2 {
	background: transparent url(../../../../../images/bg_stage2.png)
		no-repeat 12px center;
}

section.box header.stages a.stage2:hover, section.box header.stages .sel a.stage2
	{
	background: transparent url(../../../../../images/bg_stage2_sel.png)
		no-repeat 12px center;
}

section.box header.stages a.stage3 {
	background: transparent url(../../../../../images/bg_stage3.png)
		no-repeat 12px center;
}

section.box header.stages a.stage3:hover, section.box header.stages .sel a.stage3
	{
	background: transparent url(../../../../../images/bg_stage3_sel.png)
		no-repeat 12px center;
}

section.box header.stages a.stage4 {
	background: transparent url(../../../../../images/bg_stage4.png)
		no-repeat 12px center;
}

section.box header.stages a.stage4:hover, section.box header.stages .sel a.stage4
	{
	background: transparent url(../../../../../images/bg_stage4_sel.png)
		no-repeat 12px center;
}

section.box header.stages a.dsg {
	background: transparent url(../../../../../images/bg_dsg.png) no-repeat
		12px center;
}

section.box header.stages a.dsg:hover, section.box header.stages .sel a.dsg
	{
	background: transparent url(../../../../../images/bg_dsg_sel.png)
		no-repeat 12px center;
}


section.box header.stages a.brp-eco {
	border-left: 0;
	width: 90px;
	background: transparent url(../../../../../images/bg_brpeco.png)
		no-repeat 12px 18px;
}

section.box header.stages a.brp-eco:hover, section.box header.stages .sel a.brp-eco
	{
	background: transparent url(../../../../../images/bg_brpeco_sel.png)
		no-repeat 12px 18px;
}



section.box header.title {
	height: 50px;
	line-height: 46px;
	padding-left: 12px;
	font-size: 16px;
	color: #fefefe;
	font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
	border: 1px solid rgba(255, 255, 255, 0.1);
	background: transparent url(../../../../../images/title_bar_bg.png)
		repeat-x center center;
}

section.box .title .label {
	padding-left: 26px;
	text-transform: capitalize;
}


section.graph .title .label {
	background: transparent url(../../../../../images/icon_graph.png)
		no-repeat left center;
}


section.video .title .label {
	background: transparent url(../../../../../images/icon_video.png)
		no-repeat left center;
}





section.services .title .label {
	background: transparent url(../../../../../images/icon_services.png)
		no-repeat left center;
}

section.box header.title span.highlight {
	color: #56b2e7;
	background-color: transparent;
}

section.box div.content {
	padding: 12px;
	background: transparent url(../../../../../images/striped_bg.gif) repeat
		center center;
}

.first section.box div.content {
	height: 330px;
}

.first section.box .no-data {
	line-height: 310px;
	font-style: italic;
	text-align: center;
	color: #999;
}





section.box div.inner-small {
	background-color: black;
	padding: 5px;
}

section.box div.inner-big {
	background-color: black;
	padding: 15px;
}



.stage-data {
	border-spacing: 10px;
	border-collapse: separate;
}

.stage-data th, .stage-data td {
	text-align: right;
	padding: 8px 20px 8px 8px;
	width: 25%;
	font-size: 16px;
	font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
	font-weight: normal;
}

.stage-data th {
	background-color: #1d1d1d;
	border: 1px solid #313131;
}

.stage-data td {
	background-color: #000;
}

.stage-data td.highlight {
	color: #56b2e7;
	font-weight: bold;
}

.stage-data td.price {
	color: #56b2e7;
	font-weight: bold;
	font-size: 24px;
}

.stage-data td.price.small {
	font-size: 16px;
}

.stage-data th.empty, .stage-data td.empty {
	background-color: transparent;
	border: none;
}

.stage-data td.noborder {
	background-color: #1d1d1d;
	border: none;
}

.stage-data td.noborder .big {
	font-size: 16px;
}

.stage-data td.ecolabel {
	color: #33cc00;
}

.more-info {
	background-color: black;
	padding: 1em;
	margin: 0 10px;
	font-size: 16px;
	font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
	text-align: right;
}

.more-info-dsg {
	background-color: black;
	padding: 0.3em 1em;
	margin: 0 10px;
	font-size: 14px;
	font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
	text-align: right;
}

.more-info .label {
	display: inline;
}


.more-info .button-full-rounded {
	background-image: url(../../../../../images/icon_mail.png);
	/* fallback */
	background-image: url(../../../../../images/icon_mail.png),
		-moz-linear-gradient(top, #2c507a 0%, #395f89 50%, #2c507a 50%, #305681
		100%); /* FF3.6+ */
	background-image: url(../../../../../images/icon_mail.png),
		-webkit-gradient(linear, left top, left bottom, color-stop(0%, #2c507a),
		color-stop(50%, #395f89), color-stop(50%, #2c507a),
		color-stop(100%, #305681)); /* Chrome,Safari4+ */
	background-image: url(../../../../../images/icon_mail.png),
		-webkit-linear-gradient(top, #2c507a 0%, #395f89 50%, #2c507a 50%,
		#305681 100%); /* Chrome10+,Safari5.1+ */
	background-image: url(../../../../../images/icon_mail.png),
		-o-linear-gradient(top, #2c507a 0%, #395f89 50%, #2c507a 50%, #305681
		100%); /* Opera 11.10+ */
	background-image: url(../../../../../images/icon_mail.png),
		-ms-linear-gradient(top, #2c507a 0%, #395f89 50%, #2c507a 50%, #305681
		100%); /* IE10+ */
	background-image: url(../../../../../images/icon_mail.png),
		linear-gradient(to bottom, #2c507a 0%, #395f89 50%, #2c507a 50%, #305681
		100%); /* W3C */
	background-repeat: no-repeat;
	background-position: left center;
	padding: 6px 15px 6px 35px;
	margin-left: 1em;
}

.more-info .button-full-rounded a {
	color: white;
}

.more-info .button-full-rounded a:hover {
	color: #56b2e7;
}



.services .content {
	height: 285px !important;
}

.services.eco .content {
	height: auto !important;
}

.services .content .inner-big ul {
	margin-left: 0;
}

.services.eco .content .inner-big ul {
	padding-left: 0;
}

.services .content .inner-big {
	min-height: 280px;
}

.services.eco .content .inner-big {
	min-height: 283px;
}

.services .content .inner-big ul li {
	list-style-type: none;
	padding-left: 0;
	line-height: 1.4em;
	margin-bottom: 8px !important;
	text-align: left;
	list-style-type: square;
}

.services.eco .content .inner-big ul li {
	list-style-type: none !important;
	padding-left: 1.8em;
}

.services .content .inner-big ul li.ecolabel {
	color: #33cc00;
}

.services .content .inner-big ul li:last-child {
	margin-bottom: 0 !important;
}









/* Medium devices */
@media all and (min-width: 767px) and (max-width: 1200px) {
	
	.testimonials header .button-full-rounded {
		display: none;
	}
	.more-info {
		padding: 0.5em 1em;
		height: 80px;
	}
	.more-info .label {
		display: block;
		padding-bottom: 0.4em;
	}
	section.box header.stages a {
		width: auto;
		min-width: 0 !important;
		padding: 0 10px 0 33px;
	}
}

/* Small devices */
@media all and (max-width: 767px) {
	.noleftpadding {
		padding-left: 12px;
	}
	section.title .back {
		display: none !important;
	}
	section.title .group *:nth-last-child(2) {
		display: inline-block !important;
		margin-left: 0;
		font-size: 19px;
		padding: 0 35px 0 25px;
		height: 54px;
		z-index: 10 !important;
	}
	section.sub {
		height: auto;
		background-position: center top;
		padding-left: 0;
	}
	section.sub .columns .back {
		float: none;
		line-height: auto !important;
		height: auto !important;
		display: inline !important;
	}
	section.sub .columns .title {
		display: block;
		margin-left: 0;
	}
	section.sub .columns {
		text-align: center;
		font-size: 16px;
	}
	section.box header.stages a {
		background: none !important;
		padding: 0 7px 0 7px;
		font-size: 14px;
		width: auto;
		min-width: 0;
	}
	section.box header.stages a:hover, section.box header.stages .sel a {
		background: none !important;
	}
	section.box header.stages a.brp-plus {
		width: 31px;
		background: transparent url(../../../../../images/bg_brpplus_small.png)
			no-repeat 7px 18px !important;
	}
	section.box header.stages a.brp-plus:hover, section.box header.stages .sel a.brp-plus
		{
		background: transparent
			url(../../../../../images/bg_brpplus_small_sel.png) no-repeat 7px
			18px !important;
	}
	section.box header.stages a.brp-eco {
		width: 67px;
		background: transparent url(../../../../../images/bg_brpeco_small.png)
			no-repeat 12px 18px !important;
	}
	section.box header.stages a.brp-eco:hover, section.box header.stages .sel a.brp-eco
		{
		background: transparent
			url(../../../../../images/bg_brpeco_small_sel.png) no-repeat 12px
			18px !important;
	}
	.stage-data {
		border-spacing: 2px;
		border-collapse: separate;
	}
	.stage-data th, .stage-data td {
		text-align: right;
		padding: 4px 4px 4px 2px;
		font-size: 14px;
		font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
		font-weight: normal;
	}
	.first section.box div.content {
		height: auto;
	}
	.second section.box div.content {
		height: auto;
	}
	.stage-data td.noborder .big {
		font-size: 14px;
	}
	.stage-data td.price {
		color: #56b2e7;
		font-weight: bold;
		font-size: 16px;
	}
	.testimonials header .button-full-rounded {
		display: none;
	}
	.more-info {
		font-size: 14px;
		margin: 0;
		padding: 2em 0;
		text-align: center;
	}
	.more-info .label {
		display: none;
	}
	.more-info .button-full-rounded {
		margin-left: 0;
	}
	
}
