@charset "utf-8";
/* CSS Document */
.brand-disclaimer {
	text-align: center;
	margin-bottom: 1em;
}

#brands a.merk {
	position: relative;
	float: left;
	display: block;
	width: 122px;
	height: 100px;
}

#brands a.merk img {
	position: absolute;
	top: 50%;
	left: 50%;
}

section.sub .columns {
	padding-left: 0;
}

section.sub .columns {
	text-align: center;
	font-size: 18px;
}

section.sub .columns .back {
	float: left;
	line-height: auto !important;
	height: auto !important;
	display: inline !important;
}

section.sub .columns .back .button-full-rounded, .previous {
	padding-left: 22px;
	background-image: url(../../../../../images/arrow_button_back.gif);
	/* fallback */
	background-image: url(../../../../../images/arrow_button_back.gif),
		-moz-linear-gradient(top, #e8141e 0%, #f9131e 50%, #e8141e 50%, #fc1e28
		100%); /* FF3.6+ */
	background-image: url(../../../../../images/arrow_button_back.gif),
		-webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8141e),
		color-stop(50%, #f9131e), color-stop(50%, #e8141e),
		color-stop(100%, #fc1e28)); /* Chrome,Safari4+ */
	background-image: url(../../../../../images/arrow_button_back.gif),
		-webkit-linear-gradient(top, #e8141e 0%, #f9131e 50%, #e8141e 50%,
		#fc1e28 100%); /* Chrome10+,Safari5.1+ */
	background-image: url(../../../../../images/arrow_button_back.gif),
		-o-linear-gradient(top, #e8141e 0%, #f9131e 50%, #e8141e 50%, #fc1e28
		100%); /* Opera 11.10+ */
	background-image: url(../../../../../images/arrow_button_back.gif),
		-ms-linear-gradient(top, #e8141e 0%, #f9131e 50%, #e8141e 50%, #fc1e28
		100%); /* IE10+ */
	background-image: url(../../../../../images/arrow_button_back.gif),
		linear-gradient(to bottom, #e8141e 0%, #f9131e 50%, #e8141e 50%, #fc1e28
		100%); /* W3C */
	background-repeat: no-repeat;
	background-position: left center;
}

section.sub .columns .title {
	margin-left: -147px;
}

section.sub .columns .noback {
	margin-left: 0 !important;
}

.list article header.small {
	padding-top: 13px;
	padding-bottom: 13px;
}

.list article header.small .logo {
	margin-top: -1px;
}

.list article header {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.list article header:first-of-type {
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
}

.list article header h2 {
	display: inline;
}

.list article header .logo {
	float: right;
	margin-top: -13px;
}

.list article ul.content {
	margin: 0;
	padding: 6px;
}

.list article ul.content li {
	padding: 3px 18px;
	margin-bottom: 0;
	border-bottom: 1px dotted #343434;
}

.list article ul.content.last li {
	border-bottom: 0;
}

.list article ul.content li a {
	color: #ccc;
}

.list article ul.content li a:hover {
	color: #ffa5a9;
}

.stages li:nth-child(1) header h2 {
	padding-left: 20px;
	background: transparent url(../../../../../images/bg_stage1_sel.png)
		no-repeat left center;
}

.stages li:nth-child(2) header h2 {
	padding-left: 24px;
	background: transparent url(../../../../../images/bg_stage2_sel.png)
		no-repeat left center;
}

.stages li:nth-child(3) header h2 {
	padding-left: 24px;
	background: transparent url(../../../../../images/bg_stage3_sel.png)
		no-repeat left center;
}

.stages li:nth-child(4) header h2 {
	padding-left: 24px;
	color: transparent;
	background: transparent url(../../../../../images/bg_brpeco_sel.png)
		no-repeat left center;
}

/* Medium devices */
@media all and (min-width: 767px) and (max-width: 1200px) {
	#brands a.merk {
		position: relative;
		float: left;
		display: block;
		width: 101px;
		height: 100px;
	}
}

/* Small devices */
@media all and (max-width: 767px) {
	.kiosk .center img {
		position: static;
		top: auto;
		left: auto;
		margin-left: auto !important;
		margin-top: auto !important;
	}
	#brands a.merk {
		position: relative;
		float: left;
		display: block;
		width: 33.333%;
		height: 100px;
		line-height: 100px;
		text-align: center;
	}
	#brands a.merk img {
		position: static;
		top: 0;
		left: 0;
		margin-left: 0 !important;
		margin-top: 0 !important;
		vertical-align: middle;
	}
	section.sub {
		height: auto;
		background-position: center top;
		padding-left: 0;
	}
	section.sub .columns .back {
		float: none;
		line-height: auto !important;
		height: auto !important;
		display: inline !important;
	}
	section.sub .columns .title {
		display: block;
		margin-left: 0;
	}
	.list article ul.content li {
		position: relative;
	}
	.list article ul.content li a.specs {
		float: right;
		font-weight: normal;
		color: #ccc;
	}
}